[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
argon2-cffi = "*"
nanoid = "*"
flask-jwt-extended = "*"
redis = "*"
psycopg2-binary = "==2.9.4"
zone-common = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.10"
